extends ../layout

block content
    h1 Users
    a.btn.btn-primary(href="/admin/users/add") Create a new user
    table.table.table-striped
        thead
            tr
                th
                th Alias
                th
                th Roles
                th City
                th State
        tbody
            each user in users
                tr
                    td(style="width: 50px;"): a(href="/admin/users/delete/#{user.id}")
                        span.glyphicon.glyphicon-remove
                    td= user.alias
                    td(style="width: 50px;"): a(href="/admin/users/edit/#{user.id}")
                        span.glyphicon.glyphicon-pencil
                    td= user.roles
                    td= user.address.city
                    td= user.address.state
